:root {
    --background-color: #003869;
    --sidebar-shadow-color: rgba(0, 0, 0, 0.2);
    --sidebar-border-color: #002D5C;
    --icon-color: #bbb3b3;
    --icon-hover-color: #F2F2F2;
    --separator-color: rgba(230, 221, 221, 0.75);
    --metalic-gradient: linear-gradient(#494852, #2A2A30);
}

/***********
 * Layout
 ***********/

.locus-wzHfKco {
    position: fixed;
    right: 0;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: revert;
}

.locus-wzHfKco * {
    box-sizing: revert;
}

.sidebar-outer-GfnoD5B {
    position: sticky;
    line-height: normal;
    text-align: start;
    background: transparent;
    z-index: 999;
    width: 44px;
    padding-right: 25px;
    right: 0;
    transition: all 0.1s cubic-bezier(0.4, 0, 0.16, 0.87) 0s;
}

.locus-wzHfKco.hidden .sidebar-outer-GfnoD5B {
    transform: translateX(100%);
}

.sidebar-inner-WES8QP5 {
    width: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    border: 2px solid var(--sidebar-border-color);
    border-radius: 15px;
    box-shadow: var(--sidebar-shadow-color) 0px 3px 3px 5px;
    background: var(--background-color);
    background-image: var(--metalic-gradient);
}

.top-container-d35Uhmd {
    width: 100%;
}

.separator-hWywm4i {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, transparent, var(--separator-color), transparent);
}

.actions-wi5c6nz {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
}

/***********
 * Icons
 ***********/

.icon-container-DAD7V6u {
    position: relative;
}

.icon-outer-pbyXUVV {
    padding: 3px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.icon-outer-pbyXUVV:hover .icon-5nouv56 {
    background-color: var(--icon-hover-color);
}

.icon-5nouv56 {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background-color: var(--icon-color);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.heart.icon-5nouv56 {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/icons/heart.svg);
    mask-image: url(moz-extension://__MSG_@@extension_id__/icons/heart.svg);
}

.heart.fav.icon-5nouv56 {
    background-color: rgb(106, 227, 148);
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/icons/heart-full.svg);
    mask-image: url(moz-extension://__MSG_@@extension_id__/icons/heart-full.svg);
}

.search.icon-5nouv56 {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/icons/search.svg);
    mask-image: url(moz-extension://__MSG_@@extension_id__/icons/search.svg);
}

.close.icon-5nouv56 {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/icons/close.svg);
    mask-image: url(moz-extension://__MSG_@@extension_id__/icons/close.svg);
}

.highlight.icon-5nouv56 {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/icons/highlight.svg);
    mask-image: url(moz-extension://__MSG_@@extension_id__/icons/highlight.svg);
}

/***********
 * HAL 9000
 ***********/

.hal-Kt2XHbT {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.ring-Wsx9272 {
    border: 2px solid #FFFFFF;
    width: 20px;
    height: 20px;
    border-top: 2px solid #b8ccd7;
    padding: 2px;
    box-shadow: 0 -2px 0 #6d93a6;
    border-color: #43637c;
    background-color: #333;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.light-d2yc7AS {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
    border: 2px solid rgb(226, 6, 6);
    border-radius: 50%;
    background-color: rgb(226, 6, 6);
    box-shadow: 0px 0px 4px 5px rgba(226, 6, 6, 0.4),
        0px 0px 2px 2px rgba(226, 6, 6, 0.6);
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.4);
        box-shadow: 0px 0px 4px 2px rgba(226, 6, 6, 0.3),
            0px 0px 2px 1px rgba(226, 6, 6, 0.6);
    }

    50% {
        transform: scale(0.5);
        box-shadow: 0px 0px 6px 5px rgba(226, 6, 6, 0.5),
            0px 0px 4px 2px rgba(226, 6, 6, 1);
    }

    100% {
        transform: scale(0.4);
        box-shadow: 0px 0px 4px 2px rgba(226, 6, 6, 0.3),
            0px 0px 2px 1px rgba(226, 6, 6, 0.6);
    }
}

/***********
 * Highlighter
 ***********/

.locus-highlighter {
    position: absolute;
    display: none;
    height: 30px;
    transform: translateX(-50%);
    border: 2px solid var(--sidebar-border-color);
    border-radius: 15px;
    box-shadow: var(--sidebar-shadow-color) 0px 1px 1px 2px;
    background: var(--background-color);
    overflow: hidden;
    z-index: 999;
}

.highlighter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 8px;
    height: 100%;
    background-image: var(--metalic-gradient);
}

.highlighter .icon-5nouv56 {
    height: 15px;
    width: 15px;
}

/***********
 * YouTube
 ***********/

.locus-yt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***********
 * Full sidebar
 ***********/

.locus-full {
    position: fixed;
    right: 0;
    z-index: 2147483647;
    top: 0;
    height: 100vh;
    width: 400px;
    box-sizing: revert;
    background-image: var(--metalic-gradient);
    display: flex;
    color: rgba(245, 245, 245, 0.945);
    font-size: 12px;
}

.locus-full .annotations-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    overflow: auto;
    flex-grow: 1;
    border-right: 1px solid #43637c;
    border-left: 1px solid #43637c;
}

.locus-full .actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 25px;
    padding: 5px 10px 0px;
}

.locus-full .annotations-container .tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5px 10px;
    border-bottom: 1px solid #43637c;
}

.tab-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
    gap: 4px;
    background: rgb(48, 49, 57);
    padding: 0px 6px;
}

.tab-btn:hover {
    background: rgb(56, 56, 61);
}

.text-input {
    padding: 5px 10px;
    display: flex;
}

.text-input .markdown-input {
    border: none;
    box-shadow: none;
    outline: none;
    padding: 10px;
    border-radius: 6px;
    min-height: 20px;
    white-space: pre-wrap;
    overflow: hidden;
    background-color: rgb(48, 49, 57);
    cursor: text;
    color: rgb(133, 134, 142);
    flex-grow: 1;
}

.annotations {
    padding: 5px 10px;
    display: flex;
}

.annotations .annotation {
    width: 100%;
    background: rgb(30, 31, 38);
    box-sizing: border-box;
    border-radius: 10px;
    position: relative;
    border: 1px solid rgb(50, 53, 77);
}

.annotations .annotation .content,
.annotations .annotation .annotation-footer {
    padding: 15px;
}

.annotations .annotation .content .highlighted-text {
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

.annotations .annotation .content .highlighted-text:before {
    content: "";
    height: 100%;
    background: #003869;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.md-char {
    color:rgb(73, 73, 78);
}

/***********
 * Highlights
 ***********/

.locus-highlight {
    background-color: #46b96c8c;
}