<div class="form-container">
    <form id="form" [formGroup]="form">
        <div>
            <label for="username">Username</label>
        </div>
        <input id="username" formControlName="username"/>
    
        <div>
            <label for="password">Password</label>
        </div>
        <input id="password" formControlName="password" type="password" />
    
        <div>
            <label for="password">Repeat password</label>
        </div>
        <input id="passwordRe" formControlName="passwordRe" type="password" />


        <button class="btn" (click)="register()" [class.disabled]="form.invalid">
            Register
        </button>
    </form>
</div>

<div class="error" *ngIf="isError">
    {{errorMsg}}
</div>